<div id="podcast-show">
  <div class="banner" id="show-banner">
    <div class="wrapper-skinny">
      <h1><%= @podcast.title %></h1>
      <p class="description"><%= @podcast.description %></p>
      <% unless @podcast.itunes.blank? %>
        <a href="<% @podcast.itunes %>" class="subscribe-link">iTunes</a>
      <% end %>
      <% unless @podcast.stitcher.blank? %>
        <a href="<% @podcast.stitcher %>" class="subscribe-link">Stitcher</a>
      <% end %>
      <% unless @podcast.podbay.blank? %>
        <a href="<% @podcast.podbay %>" class="subscribe-link">Podbay</a>
      <% end %>
    </div>
  </div>

  <div id="breadcrumb">
    <%= link_to podcasts_path do %>
    <span>All Podcasts</span>
    <% end %>
    <span>/</span>
      <span><%= @podcast.title %></span>

  </div>

  <div id="episode">
    <div class="wrapper-skinny">
      <ul class="cf">
        <% @episodes.each do |episode| %>
        <li class="cf well">
          <div class="episode-thumbnail">
            <%= image_tag episode.episode_thumbnail.url(:medium) %>
          </div>
          <div class="episode-overview">
            <h2><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h2>
            <p class="description"><%= episode.description %></p>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= will_paginate @episodes, previous_label: "Prev", next_label: "Next" %>

</div>
