<!DOCTYPE html>
<html>
<head>
  <title>PodnetFm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if notice %>
    <div class="notice"><%= notice %></div>
  <% else alert %>
    <div class="alert"><%= alert %></div>
  <% end %>

  <%= render "layouts/header" %>

  <%= yield %>

</body>
</html>
